@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background-image: url(https://media.istockphoto.com/id/499401387/vector/seamless-science-background.jpg?s=612x612&w=0&k=20&c=r-XHq2u61GOhqx7emXpPi5y9nHadmuGFnHOZAQMA8_4=);
    align-items: center;
    
}

.calculator{
    border: 1px solid #a4a4a4;
    padding: 25px;
    border-radius: 30px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(0, 0, 0);
    padding-top: 35px;
    
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 500px 75px rgba(0, 0, 0, 0.781)inset;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    border-radius: 20px;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:rgb(81, 80, 79); 
    color: #ffffff;
    font-size: 20px;
    box-shadow: -9px -9px 15px rgb(0, 0, 0);
    cursor: pointer;
}

.equalBtn{
    background-color: #FF9500;
    width: 135px;
    height:60px;
    border-radius:10px;
    color: #000000;
    
}

.operator{
    color: #000000;
   background-color:#FF9500;
}